<mat-toolbar color="warn">
  <mat-toolbar-row class="flex-header">
    <div class="logo">
      <h3 [routerLink]="['/products']" routerLinkActive="router-link-active" >Amaze Paintings</h3>
    </div>
    <div>
      <a href="/products" mat-button>Products</a>
      <a href="/cart" mat-button>Carts</a>
      <a href="/add-product" mat-button>Add Product</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
  <h1 class="paint-title">Stunning Art Pieces</h1>
  <h3>
    Transform your home into a unique sanctuary with our exquisite and original artwork.
  </h3>
</div>

<router-outlet />
